<html>
    <head><title>{{.title}}</title>
        <link rel='stylesheet', href='stylesheets/style.css'/>
    </head>
    <frameset cols="15%,*">
          <frame src="/menu" id="tree" name="tree">
          <frame src="/users" id="content" name="content"/>
     </frameset>
</html>